
<article class="text-center">
    <div>
        <h2 class = "text-2xl text-blue-500 text-bold">{{blog.title}}</h2>
        <div>
            Posted by {{blog.user.username}} on {{format_date blog.date_created}}
        </div>
    </div>
    <div class = "border-2 border-blue-500 rounded mx-9">{{blog.content}}</div>
</article>
 
{{!-- if post has comments post comments --}}
{{#if blog.comments}}
    {{#each blog.comments}}
            <div  class = "border-2 border-blue-500 rounded mx-9"> 
                <h3>{{comment}} </h3>
                <div class = "text-xs">Posted by {{user.username}} on {{format_date date_created}}
                    
                </div>

    


            </div>
    {{/each}}
{{!-- if post has no comments post no comments --}}
{{else}}
    <div>No comments yet</div>
{{/if}}

<form id = "newcommentForm">

    <div>
        <h3 >Add New Comment</h3>
    </div>

    <div>
        <input type="hidden" name="blog-id" value="{{blog.id}}" />
        <label for="comment-body">Comment</label>
        <textarea class id = "#new-body" name="comment-body"></textarea>
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out" type="submit">Submit</button>
    </div>
</form>

<script src="/js/comment.js"></script>
```